$font-main: 'Montserrat';

$bg-color: #302C42;
$font-primary-color: #ffffff;
$font-secondary-color: #343045;

$linear-gradient-color-bright: #C0B7E8;
$linear-gradient-color-dark: #8176AF;

$radial-gradient-color-bright: #433D60;
$radial-gradient-color-dark: #211E2E;





